.button-click{
    color: white;
    background-color: var(--bs-orange);
}
.subtitulo{
    text-align: center !important;
}
div{
    background-color: #33AF33;
}
.h3{
    position: absolute;
}

/* en las propiedades con !important, toma la ultima propiedad que tiene dicho !important */