.contenedor{
    border: 4px solid black;
    padding: 20px;
    background-color: grey;
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}
.tarjeta{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 4px solid blue;
}
h2{
    ;
}